<div class="r_tr">
    <div class="r_td" data-pai="1" data-seat-num="1"></div>
    <div class="r_td" data-pai="1" data-seat-num="2"></div>
    <div class="r_td" data-pai="1" data-seat-num="3"></div>
    <div class="r_td" data-pai="1" data-seat-num="4"></div>
    <div class="r_td" data-pai="1" data-seat-num="5"></div>
</div>
<div class="r_tr">
    <div class="r_td" data-pai="2" data-seat-num="6"></div>
    <div class="r_td" data-pai="2" data-seat-num="7"></div>
    <div class="r_td" data-pai="2" data-seat-num="8"></div>
    <div class="r_td" data-pai="2" data-seat-num="9"></div>
    <div class="r_td" data-pai="2" data-seat-num="10"></div>
</div>
<div class="r_tr">
    <div class="r_td" data-pai="3" data-seat-num="11"></div>
    <div class="r_td" data-pai="3" data-seat-num="12"></div>
    <div class="r_td" data-pai="3" data-seat-num="13"></div>
    <div class="r_td" data-pai="3" data-seat-num="14"></div>
    <div class="r_td" data-pai="3" data-seat-num="15"></div>
</div>
<div class="r_tr">
    <div class="r_td" data-pai="4" data-seat-num="16"></div>
    <div class="r_td" data-pai="4" data-seat-num="17"></div>
    <div class="r_td" data-pai="4" data-seat-num="18"></div>
    <div class="r_td" data-pai="4" data-seat-num="19"></div>
    <div class="r_td" data-pai="4" data-seat-num="20"></div>
</div>
<div class="r_tr">
    <div class="r_td" data-pai="5" data-seat-num="21"></div>
    <div class="r_td" data-pai="5" data-seat-num="22"></div>
    <div class="r_td" data-pai="5" data-seat-num="23"></div>
    <div class="r_td" data-pai="5" data-seat-num="24"></div>
    <div class="r_td" data-pai="5" data-seat-num="25"></div>
</div>
<div class="r_tr">
    <div class="r_td" data-pai="6" data-seat-num="26"></div>
    <div class="r_td" data-pai="6" data-seat-num="27"></div>
    <div class="r_td" data-pai="6" data-seat-num="28"></div>
    <div class="r_td" data-pai="6" data-seat-num="29"></div>
    <div class="r_td" data-pai="6" data-seat-num="30"></div>
</div>
<div class="r_tr">
    <div class="r_td" data-pai="7" data-seat-num="31"></div>
    <div class="r_td" data-pai="7" data-seat-num="32"></div>
    <div class="r_td" data-pai="7" data-seat-num="33"></div>
    <div class="r_td" data-pai="7" data-seat-num="34"></div>
    <div class="r_td" data-pai="7" data-seat-num="35"></div>
</div>
<div class="r_tr">
    <div class="r_td" data-pai="8" data-seat-num="36"></div>
    <div class="r_td" data-pai="8" data-seat-num="37"></div>
    <div class="r_td" data-pai="8" data-seat-num="38"></div>
    <div class="r_td" data-pai="8" data-seat-num="39"></div>
    <div class="r_td" data-pai="8" data-seat-num="40"></div>
</div>