<script>
  layui.config({
    base: '__PUBLIC__/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'useradmin', 'table','admin'], function(){
    var $ = layui.$
            ,form = layui.form
            ,table = layui.table
            ,admin = layui.admin   ;

      var data_url = "{:url('Role/getRoleList')}";
      table.render({
          elem: '#roleIndex'
          ,height:500
          ,url: data_url //数据接口
          ,page: true //开启分页
          ,cols: [[ //表头
              {field: 'id', title: 'ID', sort: true, fixed: 'left'}
              ,{field: 'name', title: '角色名称'}
              ,{field: 'remark', title: '描述'}

              ,{ title: '操作',  sort: true, templet: '#table_curd'}
          ]]
      });



    form.on('select(role_select)',function (data) {
        var url = "{:url('Role/getRoleById')}";
        table.reload('roleIndex', {
            url:url,
            where: {
                id: data.value
            }
        });
    });

      //监听工具条
      table.on('tool(roleIndex)', function(obj){
          var data = obj.data; //获得当前行数据
          var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）


          if(layEvent === 'detail'){ //查看
              //do somehing
          } else if(layEvent === 'del'){ //删除
              var del_url = "{:url('Role/roleDel')}";
              layer.confirm('真的删除行么', function(index){
                  admin.req({
                      url:del_url,
                      data:{id:data.id},
                      done: function (res) {
                          layer.msg('成功')
                      }
                  })
              });
          } else if(layEvent === 'edit'){ //编辑
              layer.open({
                  type: 2
                  ,title: '编辑'
                  ,content: "{:url('Role/roleEditView')}?id="+data.id
                  ,area: ['550px', '550px']
                  ,btn: ['确定', '取消']
                  ,yes: function(index, layero){
                      var iframeWindow = window['layui-layer-iframe'+ index]
                          ,submitID = 'LAY-user-back-submit'
                          ,submit = layero.find('iframe').contents().find('#'+ submitID);

                      //监听提交
                      iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
                          var field = data.field; //获取提交的字段
                          //提交 Ajax 成功后，静态更新表格中的数据
                          //$.ajax({});
                          table.reload('LAY-user-front-submit'); //数据刷新
                          layer.close(index); //关闭弹层
                      });

                      submit.trigger('click');
                  }
              });

          }
      });

    //搜索角色
    form.on('select(LAY-user-adminrole-type)', function(data){
      //执行重载
      table.reload('LAY-user-back-role', {
        where: {
          role: data.value
        }
      });
    });

    //事件
    var active = {
      batchdel: function(){
        var checkStatus = table.checkStatus('LAY-user-back-role')
                ,checkData = checkStatus.data; //得到选中的数据

        if(checkData.length === 0){
          return layer.msg('请选择数据');
        }

        layer.confirm('确定删除吗？', function(index) {

          //执行 Ajax 后重载
          /*
          admin.req({
            url: 'xxx'
            //,……
          });
          */
          table.reload('LAY-user-back-role');
          layer.msg('已删除');
        });
      },
      add: function(){
        var url = "{:url('Role/roleAddView')}";
        layer.open({
          type: 2
          ,title: '添加新角色'
          ,content: url
          ,area: ['650px', '650px']
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){
            var iframeWindow = window['layui-layer-iframe'+ index]
                    ,submit = layero.find('iframe').contents().find("#LAY-user-role-submit");

            //监听提交
            iframeWindow.layui.form.on('submit(LAY-user-role-submit)', function(data){
              var field = data.field; //获取提交的字段

              //提交 Ajax 成功后，静态更新表格中的数据
              //$.ajax({});
              table.reload('LAY-user-back-role');
              layer.close(index); //关闭弹层
            });

            submit.trigger('click');
          }
        });
      }
    }
    $('.layui-btn.layuiadmin-btn-role').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  });
</script>
